---
title: About Me
description: My name is Brian and I am the Lost Mapper.
---

<h1>About Me</h1>

<img src="/images/brian.jpg" width="33%" class="float-end" />

<p>My name is Brian and I am the Lost Mapper.</p>

<p>I am a self-taught hobbyist mapper trying to learn more about GIS and cartography by teaching others through YouTube videos and blog posts. I&#39;ve always found that trying to teach something forces you to make sure you really understand it first.</p>

<p>You can check out my music and other projects on <a href="https://spilth.org">my personal site</a>.</p>