---
title: Contact Me
---

<h1>Contact Me</h1>

<p>Here are a couple of ways to get in touch with me:</p>

<dl>
  <dt>Email</dt>
  <dd><a href="mailto:brian@lostmapper.com">brian@lostmapper.com</a></dd>
  <dt>Mastodon</dt>
  <dd><a href="https://mapstodon.space/@lostmapper">@lostampper@mapstodon.space</a></dd>
</dl>
