---
title: QGIS XYZ Tiles
---

<h1>QGIS XYZ Tiles</h1>

<p>This is a collection of XYZ Tiles for use in QGIS. The collection will grow as more sources are discovered and confirmed.</p>

<h2>Usage Policies &amp; Attribution Requirements</h2>

<p>These sources have usage policies and/or attribution requirements. It is your responsibility to follow each service's policies and honor their attribute requirements.</p>

<h2>Downloads</h2>

<ul>
  <li><a href="/qgis-xyz-tiles/xyz-tiles.xml" download>QGIS XYZ Tiles Connections</a></li>
</ul>

<h2>Setup</h2>

<p>To add the XYZ Tiles:</p>

<ol>
  <li>Download the Connections file above</li>
  <li>Open the <strong>Browser</strong> in QGIS</li>
  <li>Right-click on <strong>XYZ Tiles</strong></li>
  <li>Click <strong>Load Connections...</strong></li>
  <li>Select the file you download and click <strong>Open</strong></li>
  <li>Click <strong>Select All</strong> (or select just the entries you are interested in)</li>
  <li>Click <strong>Import</strong></li>
  <li>Double-click an <strong>XYZ Tiles</strong> entry in the <strong>Browser</strong> to add it to your project</li>
</ol>

<h2>Resources</h2>

<ul>
  <li><a href="https://wiki.openstreetmap.org/wiki/Raster_tile_providers">OpenStreetMap Raster Tile Providers</a></li>
  <li><a href="https://github.com/klakar/QGIS_resources/blob/master/collections/Geosupportsystem/python/qgis_basemaps.py">QGIS Basemaps Script by Klas Karlsson</a></li>
</ul>
