---
title: Resources
---

<h1>Resources</h1>

<p>This is an ever-growing list of GIS &amp; Cartography resources I&#39;ve found helpful out on the internet.</p>

<h2>GIS</h2>

<ul>
  <li><a href="https://github.com/sshuair/awesome-gis">Awesome GIS</a></li>
  <li><a href="https://gis.stackexchange.com">Geographic Information Systems StackExchange</a></li>
  <li><a href="https://www.reddit.com/r/gis/">GIS Subreddit</a></li>
</ul>

<h2>Python</h2>

<ul>
  <li><a href="https://geopandas.org/">Geopandas</a></li>
</ul>

<h2>QGIS</h2>

<ul>
  <li><a href="https://qgis.org/en/docs/">QGIS Documentation</a></li>
  <li><a href="https://www.reddit.com/r/QGIS/">QGIS Subreddit</a></li>
  <li><a href="https://www.qgistutorials.com/">QGIS Tutorials and Tips</a></li>
  <li><a href="/qgis-xyz-tiles">QGIS XYZ Tiles</a></li>
  <li><a href="https://www.youtube.com/@qgishome/">QGIS YouTube Channel</a></li>
  <li><a href="https://discord.gg/DWzCX9FTP4">Unofficial QGIS Discord</a></li>
</ul>

<h2>Social Media</h2>

<ul>
  <li><a href="https://mapstodon.space">Mapstodon</a></li>
</ul>

<h2>YouTube Channels</h2>

<ul>
  <li><a href="https://www.youtube.com/@AnitaGraser">Anita Graser</a></li>
  <li><a href="https://www.youtube.com/@HalHartQGIS">Hal Hart</a></li>
  <li><a href="https://www.youtube.com/@JohnNelsonMaps">John Nelson</a></li>
  <li><a href="https://www.youtube.com/@KlasKarlsson">Klas Karlsson</a></li>
  <li><a href="https://www.youtube.com/@lostmapper">Lost Mapper</a></li>
</ul>
